* {
  box-sizing: border-box;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header{
	background-color: #ec6464;
	color: white;
	width: 100%;
	height: 200px;
}

header h1 {
	text-align: center;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 2.4em;
}

header a {
	text-align: center;
	padding: 10px 30px;
	border-radius: 25px;
	background-color: white;
	color: #ec6464;
	font-size: 1.2em;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
	text-decoration: none;
}

header a:hover {
	background-color: lightgray;
}

.container {
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}

section .card {
	float: left;
	width: 23.33%;
	height: 150px;
	margin: 20px 5%;
	box-shadow: 2px 5px 5px gray;
}

table {
	border-collapse: collapse;
	border: 1px solid gray;
	width: 100%;
}
th, td {
	border-bottom: 1px solid gray;
	height: 40px;
	text-align: center;
}

td {
	background-color: lightgray;
}

.footer-container {
	width: 80%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	height: 150px;
	background-color: gray;
	padding: 50px 10%;
}

div form {
	width: 80%;
	margin: 0px auto;
}

div form input {
	width: 65%;
	height: 50px;
}

div form button {
	width: 30%;
	height: 50px;
	background-color: #ec6464;
	color: white;
	font-size: 1em;
	border: 0px;
}

div form button:hover {
	background-color: lightgray;
}

footer div p {
	text-align: center;
	border-top: 1px solid gray;
	margin-top: 0px;
	height: 30px;
	padding: 10px;
}

